/* globals.css */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (hover: none) and (pointer: coarse) {
  .hover-disable {
    pointer-events: none;
  }
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  padding: 0; /* Ensure no padding */
  margin: 0;  /* Ensure no margin */
  justify-content: center; /* Center the contents */
}

.scroll-section {
  display: inline-block;
  flex-shrink: 0;
  width: 100%; /* Ensure sections take up full width */
  max-width: 100vw; /* Ensure sections do not exceed viewport width */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-container {
  position: relative;
  min-height: 100vh;
  z-index: 2;
  max-width: 100vw;
}

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(133, 88, 88);
  z-index: -1;
}

.header {
  position: relative;
  z-index: 1000;
}

body {
  margin: 0;
  padding: 0;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.center-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.loading-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.inline-block {
  display: inline-block;
}

.text-wrap {
  white-space: normal;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.max-w-fit {
  max-width: fit-content;
}

/* New CSS rule to ensure proper positioning of fixed elements on mobile */
@media (max-width: 768px) {
  .fixed {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
  }

  .center-content {
    width: 100%;
  }
}
